* {
    font-family: "Sriracha", serif;
    box-sizing: border-box;

    margin: 0;
    padding: 0;
}

body {
    background-color: rgb(46, 46, 46);
    padding: 10px;
    padding-bottom: 30%;
}

h1 {
    color: rgb(255, 255, 255);
}

li {
    color: rgb(255, 255, 255);
    background-color: rgb(78, 78, 78);
    border-radius: 4px;
    padding: 8px;

    display: flex;
    justify-content: space-between;
}

.checkbox {
    margin: 10px 7px 10px 0px;
    float: left;

    color: rgb(239, 136, 255);

}

.list {
    margin: 8px 0px 8px 0px;
}

.container {
    max-width: 95%;
    margin: auto;
}

#removeButton {
    color: rgb(239, 136, 255);
    background-color: rgb(78, 78, 78);
    border-width: 0px;
    border-radius: 4px;

    padding: 4px 12px;
}

input {
    background-color: rgb(78, 78, 78);
    color: rgb(255, 255, 255);
    height: 30px;
    border-radius: 8px;
    outline: none;
}

#textBox {
    border: 0px;
    padding: 12px;
    margin: 0px 6px 0px 6px;

    width: 70vw;
}

#textBox::placeholder {
    color: rgb(255, 255, 255);
}

#addButton {
    border-color: rgb(239, 136, 255);

    margin: 0px 6px 0px 6px;
    width: 20vw;
}

#removeButton:active {
    color: rgb(250, 221, 255);
    text-decoration: line-through;
}

form {
    background-color: rgb(46, 46, 46);

    position: fixed;
    bottom: 0%;
    left: 0%;

    width: 100vw;
    padding: 16px;
    overflow: hidden;

    display: flex;
    justify-content: center;
}

@media only screen and (min-width: 590px) {
    
    .container {
        max-width: 80%;
    }

    #textBox {
        width: 70vw;
    }

    #addButton {
        width: 10vw;
    }

    #addButton:active {
        background-color: rgb(99, 99, 99);
        color: rgb(239, 136, 255);
    }

    #removeButton:hover {
        color: rgb(250, 221, 255);
        background-color: rgb(99, 99, 99);
        text-decoration: line-through;
    }

    #removeButton:active {
        color: rgb(250, 221, 255);
        text-decoration: underline;
    }

    li:hover {
        background-color: rgb(99, 99, 99);
    }
  }